*{
    margin: 0;
    padding: 0;
}

/* Définit les styles de l'overlay sombre qui couvre la page lorsque la fenêtre contextuelle est ouverte */
#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 98;
    display: none; 
}

/*  Définit les styles de l'overlay lorsque la classe "ouverte" est appliquée, permettant à l'overlay de s'afficher */
#popup-overlay.open{
    display: block !important;
}

/* Style pour le contenu de la fenêtre contextuelle, avec un arrière-plan blanc, une largeur maximale et positionné au centre de l'écran */
.popup-content {
    max-width: 600px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    background-color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-content p {
    margin: 20px;
}

/* Style pour le bouton de sortie en haut à droite de la fenêtre contextuelle, permettant de la fermer */
.popup-exit {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #FFF;
    background-color: red;
    padding: 5px 10px;
    border-radius: 5px;
}

.centered-block {
    width: 50%;
    padding: 10px;
}